NEXT_PUBLIC_SUPABASE_URL=your-supabase-url-here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key-here
RESEND_API_KEY=re_xxxxxxxxx
# Google AdSense client id (replace with your own)
NEXT_PUBLIC_GOOGLE_ADSENSE_CLIENT_ID=ca-pub-4621643742071237
